# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/

pubspec.lock


codigo_fontbox.java.txt 
codigo_mesclado.dart.txt 
codigo_pdfbox_io.java.txt 
codigo_pdfbox.java.txt 
codigo_xmpbox.java.txt
codigo_pdfbox_dart.dart.txt
.local-chrome/

downloads/

pdfbox-java/
demoiselle_signer/
digital_signature_service/
documento_assinado.pdf
root_ca.crt
user.crt
user.p12

insinfo_dart_pdf/

build/
root_ca_openssl.crt
documento_assinado_openssl.pdf
user_openssl.crt
user_openssl.p12
CA_RAIZ_PMRO.cer
CA_RAIZ_PMRO.p7b
CA_RAIZ_PMRO.pem
documento_assinado_pmro.pdf
INSTRUCOES.txt
isaque_pmro.p12
isaque_santana.cer
INSTALAR_CERTIFICADO.bat
isaque_santana.pem
documento_assinado_native.pdf